.menuContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.list {
    list-style: none;
    padding: 0;
    display: block;
    text-align: right;
    margin-right: 2rem;
}
.list li {
    padding: 0.8rem;
}

@media (min-width: 768px) {
    .list {
        display: block;
        margin-right: 0;
    }
    .list li {
        padding: 1rem;
    }
}