.headingContainer {
    background-color: darkslategray;
    padding: 2rem 1rem;
    margin-bottom: 4rem;
    overflow:hidden;
}
.headingContainer h1 {
    color: ivory;
    margin: 0;
}
.desc {
    text-align: center;
    padding: 0 1rem;
    font-size: 1.5rem;
    font-weight: 300;
}
.slideIn {
    animation: fromRight 400ms ease-in-out both;
}

@keyframes fromRight {
    0% { transform: translateX(75%); opacity: 0%;}
    100% { transform: translateX(0%); opacity: 100%; }
}

@media (min-width:768px) {
    .headingContainer {
        padding: 4rem 3rem;
    }
    .desc {
        text-align: left;
        padding: 0 3rem;
    }
}