.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 110vh;
}
h1, h2, h3 {
    margin: 0;
    text-transform: uppercase;
    color:slategrey;
    text-align: center;
}
h1 {
  font-family: 'Playfair Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 2.7rem;
  text-transform: uppercase;
  margin-bottom: 0;
  color: darkslategray;
}
p {
    font-size: 1.5rem;
}

@media (min-width: 768px) {
  .section {
    align-items: stretch;
  }
  h1, h2, h3 {
    text-align: left;
  }
  h1 {
    font-size: 5rem;
  }
}